/* GENERAL */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding: 20px;
}
h1 {
    text-align: center;
    margin-bottom: 200px;
}
.calculator {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
/* WRAPPER */
.wrapper__calculator {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.screen__calculator {
    background-color: rgb(166, 245, 245);
}
/* DISPLAY SCREEN */


/* PAD */